body{
    padding: 0px;
    margin: 0px;
}

.label{
    float: right ;
}
.submit{
    background-color: blue;
    color: white;

    float: right ;
}

dn{
    background-color: purple;
}
span{
    color: red;
}
.login-page{
    align-items: center;
}